@mixin clearfix {
  zoom: 1;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin accessible-hide {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

@mixin accessible-unhide {
  position: relative;
  left: auto;
  width: auto;
  height: auto;
  overflow: visible;
}