// Fonts
$font-sans: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
$font-serif: Georgia,serif;

// Breakpoints
$breakpoint-xxlarge: 1600px;
$breakpoint-xlarge: 1400px;
$breakpoint-large: 1200px;
$breakpoint-medium: 1000px;
$breakpoint-small: 800px;
$breakpoint-xsmall: 600px;
$breakpoint-xxsmall: 400px;

// Vertical Spacing Units
$space-unit: 15px;
$space-unit-small: 8px;

// Grid variables
$gutter-body: 20px;
$gutter-column: 20px;
$column-count: 12;

// Colors
$color-orange: #E45A3D;
$color-black: #000000;
$color-white: #f2f2f2;

$duration-fast: 0.15s;
$duration-default: 0.5s;

// Image and font paths for functions in includes/_functions.scss
$path-images: '../../images';
$path-fonts: '../../fonts';

// Layout and Grid
$l-container-width: $breakpoint-xlarge;
$l-gutter-body: 0;
$l-gutter-column: 0;
$l-column-count: 12;
$l-col-width: 100% / $l-column-count;